services:
  nginx:
    build: ./nginx/
    container_name: nginx-container
    ports:
      - '8082:80'
    volumes:
      - ./html/:/var/www/html/
      - ./php-config/php.ini:/usr/local/etc/php/conf.d/custom.ini
    depends_on:
      - php
    networks:
      - app-network
  
  
  php:
    build: ./html/
    container_name: php-container
    expose:
      - '9000'
    volumes:
      - ./html/:/var/www/html/
    networks:
      - app-network
  db:
    image: mariadb
    container_name: db-container
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mariadb_config/:/etc/mysql/conf.d/
    networks:
      - app-network
    environment:
      MYSQL_USER: redcap
      MYSQL_PASSWORD: redcap
      MYSQL_DATABASE: redcap
      MARIADB_ROOT_PASSWORD: redcap


  certbot:
    image: certbot/certbot
    container_name: certbot-container
    volumes:
      # Utilise le même volume que Nginx pour stocker les certificats
      - certbot-etc:/etc/letsencrypt
      # Utilise le même volume que Nginx pour la vérification du domaine (Challenge HTTP)
      - certbot-var:/var/www/certbot
    # Pour que ce service s'arrête immédiatement après l'exécution du certificat
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 1d & wait; done;'"
    networks:
      - app-network

volumes:
  mysql-data:
  certbot-etc:
  certbot-var:
  
networks:
  app-network:
    driver: bridge
    

