.form-control-custom td:nth-child(1) {
    width: 170px;
}
.underline-all-links a:link, .underline-all-links a:visited, .underline-all-links a:active, .underline-all-links a:hover {
    text-decoration: underline;
}
#addFormLink button,#addSurveyLink button{
    font-size: 13px;
}
@media (min-width: 576px){
    .modal-dialog-queue {
        max-width: 600px !important;
    }
    .modal-dialog-preview-queue {
        max-width: 950px !important;
        font-size:11px !important;
    }
    #external-modules-configure-modal .modal-dialog, #external-modules-configure-modal-record .modal-dialog, #external-modules-configure-modal-preview .modal-dialog{
        max-width:900px !important;
    }
    .modal-dialog:not(.modal-dialog-queue,.modal-dialog-preview-queue){
        max-width:800px;
    }

}
.modal-header .close{
    position: absolute;
    right: 20px;
}
.popover{
    max-width:300px;
}

.alert{border: 1px solid red;}
/***TABLE***/
.table_header{
    background-color:#cce7ff;
    font-weight:bold;
    font-size: 13px;
    text-align: center;
}
.table_subheader{
    background-color:#e6f3ff;
    color: #337ab7;
    cursor: pointer;
}
.table_subheader:hover {
    background-color: #e6f3ff !important;
}
.table textarea, .table input{
    border-radius: 3px;
    border: 1px solid #999;
    padding:3px;
}
.table_example{
    color: #888;
    font-style: italic;
    font-weight: normal;
}
.email_forms_button{
    margin-top:8px;
    margin-right:15px;
    color:#fff;
}
.email_reactivate{
    color:#fff !important;
    padding: 4px  !important;
    font-size: 13px;
    border:none;
    cursor: pointer;
    margin-top: 10px;
}
.email_reactivate:hover{
    color:#000 !important;
}
.email_queue_button_color{
    background-color: #ffffcc;
    border-color: #808080;
    color: #fff;
}
.email_forms_button_color{
    background-color: #a6a6a6;
    border-color: #808080;
    color: #fff;
}
/***EMAIL PREVIEW***/
.email_forms_button_color:hover,.email_forms_button_color:active{
    background-color: #d9d9d9 !important;
    border-color: #e6e6e6 !important;
    color: #000000 !important;
}
.email_preview_forms_table th{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: #004085;
    border: 1px solid #89a1bb;
    background-color: #e0e9f3;
}
.alert-num-box {
    background-color: #337ab7;
    border: 1px solid #2e6198;
    border-top: 1px solid #337ab7;
    border-left:0;
    color: #fff;
    padding: 3px 6px;
    font-size: 14px;
    font-weight:600;
    display: inline;
    border-radius: 0 0 calc(.25rem - 1px) 0 !important;
}
.alert-num-box.alert-deleted {
    background-color: #c20202;
    border: 1px solid #444;
}
.email_sent{
    color: green !important;
}
.box-1x {
    color: #555;border: 1px solid #777;padding-left: 0.2em;font-size: 80%;padding-right: 0.2em;
}

.email_preview_forms_table tr.email_deactivated{
    background-color: #ffe6e6 !important;
}
.email_deleted{
    color: red !important;
}
.dataTables_length label{
    float:left;
    font-weight:normal;
}
.dataTables_filter label{
    float:right;
    font-weight:normal;
}
.dataTables_filter input{
    margin-left: 10px;
}
table.dataTable{
    border-collapse: collapse !important;
}
/*PAGINATION*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.5em 1em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
    *cursor:hand;
    color:#333 !important;
    border:1px solid transparent;
    border-radius:2px
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border:1px solid #c2c2f0;
    background-color:#d6d6f5;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2c2f0), color-stop(100%, #d6d6f5));
    background:-webkit-linear-gradient(top, #c2c2f0 0%, #d6d6f5 100%);
    background:-moz-linear-gradient(top, #c2c2f0 0%, #d6d6f5 100%);
    background:-ms-linear-gradient(top, #c2c2f0 0%, #d6d6f5 100%);
    background:-o-linear-gradient(top, #c2c2f0 0%, #d6d6f5 100%);
    background:linear-gradient(to bottom, #c2c2f0 0%, #d6d6f5 100%);
}
#customizedAlertsPreview .card {
    border: 1px solid #ccc;
}
#customizedAlertsPreview_info{float:left;}
#customizedAlertsPreview_paginate{float:right;}
.email_preview_forms_table tbody td{
    font-size: 13px;
}
.email_preview_forms_table td a:link, .email_preview_forms_table td a:visited, .email_preview_forms_table td a:active, .email_preview_forms_table .btn-link {
    text-decoration: none;
    color: #0061b5;
}
.email_preview_forms_table td a:hover, .email_preview_forms_table .btn-link:hover {
    color: red;
    text-decoration: underline;
}

/***MODAL***/
.code_modal_table{
    margin: 0 auto;
}
.form-control-custom label{
    font-weight: normal;
}
.form-control-custom td{
    padding-bottom: 12px;
    padding-right: 5px;
}
.form-control-custom input[type="text"], .form-control-custom select, .form-control-custom textarea{
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.flexdatalist-alias{
    box-shadow: none !important;
}
.flexdatalist-multiple{
    width: 100%;
}
.form-control-custom input[type='checkbox']{
    box-shadow:none;
    width: 20px;
}
.form-control-custom input[type='file']{
    box-shadow:none;
    border: none;
}
.form-control-custom textarea{
    height: 100%;
}
.form-control-custom-title{
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
    padding: 7px;
}
.form-control-custom input[type='radio']{
    width: 15px;
    box-shadow:none;
    vertical-align: -2px;
    margin-right: 5px;
    display: inline-block;
}
.form-control-custom input[type='radio'] + label{
    display: inline-block;
    max-width: 100%;
    vertical-align: 10px;
    margin-right:20px;
}
.form-control-custom input[type='radio'] + label +br{
    display: none;
}
.btn-delete{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

/***BUTTON COLORS***/
.btn_color_square{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.btn_piping{
    margin: 0px 10px 10px 0px;
}

.btn_legend{
    display:inline-block;
    padding-right:10px;
}

.btn_color_datapipe{background-color: #ddd  !important;}
a.btn_color_datapipe:hover{background-color: #a6a6a6  !important;}

.btn_color_datapipeEmail{background-color: #cce7ff !important;}
.btn_color_datapipeEmail{border:1px solid #cce7ff !important;}
a.btn_color_datapipeEmail:hover{background-color: #99cfff !important;}

.btn_color_formLink{background-color: #ffffcc !important;color: #000000;}
.btn_color_formLink{border:1px solid #f3f1c0 !important;}
a.btn_color_formLink:hover{background-color: #f3f1c0 !important;}

.btn_color_surveyLink{background-color: #fff2e6 !important;color: #000000;}
.btn_color_surveyLink{border:1px solid #ffd7b3 !important;}
a.btn_color_surveyLink:hover{background-color: #ffd7b3 !important;}

/***FILTER***/

.clearable{
    background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.external-modules-input-td .mce-statusbar {
    border: none;
}

.external-modules-input-td .mce-path {
    display: none;
}
.description_config{
    padding: 18px;
}
.sorting_icon{
    display: inline-block;
    line-height: 0em;
    position: relative;
    width: 2em;
    float: right;
}
.sorting_icon:hover{
    color:#8c8c8c;
}
.save, .saveFormButton{
    background-color:#5cb85c;
    color:#fff !important;
}
.save:hover, .saveFormButton:hover{
    color:#000;
}

#modal_message_preview td:nth-child(1),#modal_message_record_preview td:nth-child(1){
    font-weight: bold;
}
#modal_message_preview td,#modal_message_record_preview td,#modal_message_queue td{
    vertical-align: 5px;
    padding: 10px;
}
#modal_message_preview tr,#modal_message_record_preview tr,#modal_message_queue tr{
    border: 1px solid #dddddd;
}
#modal_message_queue td{
    border: 1px solid #dddddd;
    text-align: center;
}
#modal_message_queue thead{
    background-color: #f2f2f2;
    font-weight: bold;
}
.popover.top>.arrow:after {
    bottom: 2px;
}
.code_modal_table{
    width: 100%;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #618ab6;
    border-right:0;
    border-left:0;
}
label[for] {
    cursor: pointer;
}
tr.even {
    background-color: #e5e5e5 !important;
}
.ui-dialog { z-index:1060 !important;}
.requiredlabel {color:#C00000 !important;}
select#email-to>option, select#email-cc>option, select#email-bcc>option {
    padding-left: 1em;
}
.attributes-list {
    margin: 5px 0 15px;
    border: 1px solid #bbb;
    padding: 5px;
    background: #eee;
    color: #000;
}
.highlight-row td {
    font-weight: bold !important;
    font-style: italic;
}

.underline-all-links ol > li a {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    word-break: break-all;
}
.alters-logic-recurrences:not(:has(input[name="ensure-logic-still-true"]:checked)) input[name="do-not-clear-recurrences"],
.alters-logic-recurrences:not(:has(input[name="ensure-logic-still-true"]:checked)) label[for="do-not-clear-recurrences"] {
    pointer-events: none;
    opacity: .5;
}