/* CSS for Database Query Tool */

#pagecontainer { max-width: 1600px; }
td.query_cell { padding:3px;border-top:1px solid #ddd;font-size:10px;vertical-align:top; }
td.query_cell a { text-decoration:underline;font-size:8pt;font-family:verdana,arial; }
#west2 {
  border-right:1px solid #aaa;
  width:250px;
}
#center2 {
  padding:0 20px;
}
.rcf { display:none; }
.rcp a { text-decoration:underline !important;font-size:8pt !important; }

/* Table Search */
.btn-clear-search {
    background-color: var(--bs-gray-200);
    border: 1px solid #ced4da;
    color: var(--bs-danger);
}
.dqt-search > input ~ span {
    display: none;
}
.dqt-search > input:placeholder-shown ~ span {
    display: block;
}
.dqt-search > input ~ button.btn-clear-search {
    display: block;
}
.dqt-search > input:placeholder-shown ~ button.btn-clear-search {
    display: none;
}

/* Smart Variables Context */
.dqt-context-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.dqt-context-toggle label {
    margin: 0;
    margin-right: 5px;
}
.dqt-context-toggle input {
    margin-top: 2px;
}
.dqt-context-title {
    display: flex;
    align-items: center;
}
#dqt-context-items {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
    max-width: 650px;
}
.dqt-context-item {
    margin: 2px 10px 0px 3px;
}
.dqt-context-item label {
    margin: 2px 0;
}
.dqt-context-item input {
    font-size: 12px;
}
.dqt-context-item input[type=search] {
    max-width: 80px;
}
.dqt-context-item input[type=number] {
    max-width: 60px;
}
.dqt-warn-no-pid {
    color: orange;
    font-size: 16px;
    display: none;
}
input[required]:placeholder-shown + .dqt-warn-no-pid {
    display: inline-block;
}
input[required]:placeholder-shown {
    border: 1px orange solid;
}

