.table td {
    padding: 8px;
}
.table th {
    padding: 0 8px 8px;
}
.setting-col {
    width: 50%;
}
.value-col {
    width: 40%;
}
.color-picker {
    width: 50px;
    margin: 0 auto;
}
.descriptive_popup_setting {
    color: #800000;
    margin-right:3px;
}
.table.no-bottom-border tr:last-child td {
    border-bottom: none !important;
}
.border-none {
    border: none;
}
.textarea-resizable {
    resize: vertical;
    min-height: 60px;
    max-height: 300px;
}
#currentView {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 5px;
    background-color: transparent;
    outline: none;
}

#currentView:focus {
    border-bottom-color: blue;
}
input[type="text"]:focus, input[type="color"]:focus, #currentView:focus, #formsSelect:focus, #pageNumbers:focus {
    box-shadow: 0 0 0 #FFFFFF;
}
input, select, textarea {
    font-family: 'Open Sans', 'Andale Mono', 'Arial', 'Arial Black', 'Book Antiqua', 'Comic Sans MS', 'Courier New', 'Georgia', 'Helvetica', 'Impact', 'Symbol', 'Tahoma', 'Terminal', 'Times New Roman', 'Trebuchet MS', 'Verdana', 'Webdings', 'Wingdings', sans-serif;
    font-size: 13px;
}
.rich_text_border_style {
    border: 1px solid #86b7fe !important;
}
.form-label {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    padding-bottom: 0;
}
.form-control.form-control-sm {
    display: inline-block;
    vertical-align: bottom;
}
.close-icon {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.alert.alert-danger{
    background-color: #f8d7da;
    position: relative;
    padding: 10px 40px 10px 10px;
}

#descriptivePopupForm .form-control {
    font-size: 13px;
}

#descriptivePopupForm .btn-group .btn {
    border-radius: 0;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
}
#descriptivePopupForm .btn-light.active {
    background-color: #6c757d;
    color: white;
}
#descriptivePopupForm .btn-light {
    background-color: #f8f9fa;
    color: black;
}
#descriptivePopupForm .tab-content .tab-pane {
    margin-left:20px;
}

#descriptivePopupForm .tab-content .mt-2 {
    margin-bottom: 8px;
}

#formsSelect {
    margin-bottom: 10px;
    height: 100px;
}

#tbl_list_popups td, #tbl_list_popups th{
    text-align: left;
}
#tbl_list_popups [id^='tbl_list_popup_forms_'] {
    width: auto;
    appearance: auto;
}
#tbl_list_popups [id^='tbl_list_popup_forms_'], #tbl_list_popups [id^='tbl_list_btn_'], #tbl_list_btn_add_new, #tbl_list_btn_del_all {
    font-size: 12px;
    padding: 2px 5px;
}
#tbl_list_popups [id^='tbl_list_btn_edit_popup_'] i,
#tbl_list_popups [id^='tbl_list_btn_del_popup_'] i {
    margin-right: 5px;
}
#tbl_list_popups [id^='tbl_list_btn_del_popup_'] {
    background-color: transparent;
    color: #333;
    border: none;
}
#tbl_list_popups [id^='tbl_list_btn_edit_popup_'],
#tbl_list_popups [id^='tbl_list_btn_del_popup_'] {
    background-color: transparent;
    border: none;
}
#tbl_list_popups [id^='tbl_list_popup_forms_']:focus {
    box-shadow: none;
}
.tbl_list_popup_inline_text {
    font-size: 13px;
}

#tbl_list_popups .dropdown{
    position: absolute;
    max-height: 200px;
    overflow-y: visible;
}
#tbl_list_popups .dropdown-toggle {
    color: inherit;
    text-decoration: none;
}
#tbl_list_popups .dropdown-toggle:hover,
#tbl_list_popups .dropdown-toggle:focus {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
#tbl_list_popups .dropdown-item {
    outline: none;
    text-decoration: none;
}
#tbl_list_popups .dropdown-item:focus,
#tbl_list_popups .dropdown-item:hover {
    background-color: #f8f9fa;
    outline: none;
    text-decoration: none;
}
#tbl_list_popups .dropdown .dropdown-menu {
    top: 100%;
    bottom: auto;
}
#tbl_list_popups .checkbox-column {
    width: 50px;
    text-align: left;
    white-space: nowrap;
}
#tbl_list_popups th.checkbox-column {
    width: auto;
}
#tbl_list_popups .action-column {
    width: 1%;
    white-space: nowrap;
}
#tbl_list_popups_last_row td a {
    color:green;
}
#tbl_list_popups th, #tbl_list_popups td .dropdown{
    padding-right: 30px;
}
#tbl_list_popups .dropdown-toggle::after {
    margin-left: 1px;
}
#tbl_list_btn_add_new {
    border: 1px solid;
}
.col-custom {
    flex: 0 0 auto;
    width: 54%;
}

#descriptivePopupsEditor h1,
#descriptivePopupsEditor h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 1em 0 0 0;
}
#descriptivePopupsEditor h2 {
    font-size: 15px;
    margin-top: 2em;
}
