/* ABOUT PAGE CSS */
.page-num-box {
    background-color: #337ab7;
    border: 1px solid #2e6198;
    border-top: 1px solid #337ab7;
    border-left:0;
    color: #fff;
    padding: 3px 6px;
    font-size: 14px;
    font-weight:600;
    display: inline;
    border-radius: 0 0 calc(.25rem - 1px) 0 !important;
}

table.mcDataTable{
    border-collapse: collapse !important;
}
/***MODAL***/
.mc_code_modal_table{
    width: 100%;
}
#savePage .modal-header .close, #saveContact .modal-header .close,
#saveLink .modal-header .close, #saveAnnouncement .modal-header .close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.mc-form-control-custom label{
    font-weight: normal;
}
.mc-form-control-custom td{
    padding-bottom: 12px;
    padding-right: 5px;
}
.mc-form-control-custom input[type="text"], .mc-form-control-custom select, .mc-form-control-custom textarea{
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mc-form-control-custom input[type='checkbox']{
    box-shadow:none;
    width: 20px;
}
.mc-form-control-custom input[type='file']{
    box-shadow:none;
    border: none;
}
.mc-form-control-custom textarea{
    height: 100%;
}
.mc-form-control-custom-title{
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
    padding: 7px;
}
.mc-form-control-custom input[type='radio']{
    width: 15px;
    box-shadow:none;
    vertical-align: -2px;
    margin-right: 5px;
    display: inline-block;
}
.mc-form-control-custom input[type='radio'] + label{
    display: inline-block;
    max-width: 100%;
    vertical-align: 10px;
    margin-right:20px;
}
.mc-form-control-custom input[type='radio'] + label +br{
    display: none;
}
.error-field {border: 1px solid red !important;}
.mc-form-control-custom-title{
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
    padding: 7px;
}
.mc-form-control-custom td:nth-child(1) {
    width: 170px;
}

/* LINK PAGE CSS */

.link-icons-list {
    padding-left: 0;
    list-style: none;
}
.link-icons-list li {
    float: left;
    width: 90px;
    height: 80px;
    padding: 0px;
    font-size: 10px;
    line-height: 1.4;
    background-color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    text-align: center;
}
.link-icons-list li img {
    width: 48px;
}
.link-icons-list li.selected {
    border-color: #008000;
    border-width: 3px;
    font-weight: bold;
}

.tick { background-color: #008000; padding: 2px; color:#fff; position: absolute; top:-1px; right: -1px;}

#links_list div.hDivBox, #contacts_list div.hDivBox { background-color: #cce7ff; border-color: #005299;  }
#links_list div.hDivBox th div, #contacts_list div.hDivBox th div { font-weight: 600; font-size:13px; padding: 6px; }

.wrap-long-url {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    word-break: break-word;
}

.mycap_mobile_setup_tabs { margin:5px 0px 15px -20px !important;padding-left:20px; }
#navbar a {font-size:15px;font-weight:bold;}
.mycap_mobile_setup-table { width: 100%;margin:5px 0; }
.mycap_mobile_setup-table td { padding:5px; }

/* Theme Page */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.theme-color > div {
    height: 40px;
    margin-bottom: 7px;
}
.theme-color input {
    border: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

#sub-nav li a, #sub-nav li a:visited {
    display: block;
    float: left;
    text-align: center;
    white-space: nowrap;
    background: url("../images/tab-back.png") 0 -100px;
    text-decoration: none;
    min-height: 17px; /* fixes FX/Mac issue */
    font-size: 13px;
    color: #393733;
    padding: 7px 9px;
}

.legend li span {
    display: block;
    float: left;
    text-align: center;
    white-space: nowrap;
    background: url("../images/tab-back.png") 0 -100px;
    text-decoration: none;
    min-height: 17px; /* fixes FX/Mac issue */
    font-size: 13px;
    color: #393733;
    padding: 7px 9px;
}

#title-text {
    font-weight:bold;
    font-size: 16px;
    color:#800000;
}
.versionPublishMsg { position: absolute; z-index: 9999; width: 600px; padding: 20px; font-size: 14px; display: none;
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* Override bootstrap.colorpickersliders.css. We do not want to show the alpha channel selector ever */
.cp-hsvpanel-a {
    display: none !important;
}
.hidden {
    display: none !important;
}

/* MyCap Task Settings Page */
.additional-inputs-div {
    margin: 5px 0 15px;
    border: 1px solid #bbb;
    padding: 5px;
    background: #eee;
    color: #000;
}

#MessagesHistoryDialog {
    background-color: #f9f5f5;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-top: 30px;
}
.timeline:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #E5E5E5;
    left: 50%;
    margin-left: -1px;
}
.timeline h6 {
    color: #333333;
    font-weight: 400;
    margin: 10px 0px 0px;
}
.timeline.timeline-simple {
    margin-top: 30px;
    padding: 0 0 20px;
}
.timeline.timeline-simple:before {
    left: 5%;
    background-color: #E5E5E5;
}
.timeline.timeline-simple > li > .timeline-panel {
    width: 86%;
}
.timeline.timeline-simple > li > .timeline-badge {
    left: 5%;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 45%;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #e4e4e4;
    border-right: 0 solid #e4e4e4;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    background-color: #ccc;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 51px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -24px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge.primary {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.timeline > li > .timeline-badge.success {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.timeline > li > .timeline-badge.warning {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.timeline > li > .timeline-badge.info {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    padding: 0;
}
.timeline > li > .timeline-badge.danger {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.timeline > li > .timeline-badge [class^=ti-],
.timeline > li > .timeline-badge [class*=" ti-"],
.timeline > li > .timeline-badge [class=fas] {
    line-height: inherit;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    background-color: #fff;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading {
    margin-bottom: 15px;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body hr {
    margin-top: 10px;
    margin-bottom: 5px;
}
.timeline-body .btn {
    margin-bottom: 0;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.announcement-block {
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    white-space: normal;
    background-color: #f44336;
    line-height: 1;
    border-radius: 10rem;
}

.hideit {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.fadeIn {
    opacity:1
}

.wrapemail {
    line-height:13px;
    overflow: visible !important;
    white-space: normal !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
}

#sub-nav li>a:focus, #sub-nav li>a:hover {
    outline:0 !important;
}
.setting-custom-title{
    font-weight: 600;
    font-size: 13px;
    background-color: #ececec;
    color: #333;
    padding: 4px;
}
.timeline > li > .timeline-auto-msg-panel {
    width: 45%;
    float: right;
    padding: 5px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #E9E9E9;
}
.dags-dropdown-options {
    display: flex;
    font-weight: normal;
    padding: 5px 0px 0px 7px;
    align-items: baseline;
}