.reward-form,
[data-reward-fieldset] {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.reward-form > div input {
	width: 100%;
}
.reward-form label,
.reward-form .form-label {
    font-weight: bold;
}
.input-description {
    display: block;
    font-size: .8rem;
    padding: 0 0 10px 10px;
}
.field-detail {
    display: block;
    font-style: italic;
    font-size: .7rem;
    color: rgb(33 37 41 / 75%);
}

.reward-form {
    details > summary {
        /* Hide default arrow */
        /* list-style: none; */
        cursor: help;
        position: relative;
    }
}
textarea {
    resize: vertical;
}
/* animate details */
/* .reward-form {
    interpolate-size: allow-keywords;
}
.reward-form details {
    overflow: hidden;
}
.reward-form details::details-content {
    block-size: 0;
    transition:
        block-size 1s,
        content-visibility 1s;
    transition-behavior: allow-discrete;
}
.reward-form details[open]::details-content {
    block-size: auto;
} */