/* variables */
.rc-toast-container {
  --rc-bg-color-primary: #9ec5fe;
  --rc-bg-color-secondary: #c4c8cb;
  --rc-bg-color-success: #a3cfbb;
  --rc-bg-color-danger: #f1aeb5;
  --rc-bg-color-warning: #ffe69c;
  --rc-bg-color-info: #9eeaf9;
  --rc-bg-color-light: #e9ecef;
  --rc-bg-color-dark: #adb5bd;

  --toast-text-color: var(--toast-text-color); /* default toast text color */
  --toast-text-color-inverted: #fff; /* default toast text color */
  --body-bg: rgb(255, 255, 255);
  --border-color: #dcdcdc;
  --position-size: 1rem;
}
.rc-toast-container {
  position: fixed;
  z-index: 1030;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem; /* Replace gap with margin */
}

/* Vertical Positions */
.rc-toast-container[data-vertical="top"] {
  top: var(--position-size);
}

.rc-toast-container[data-vertical="middle"] {
  top: 50%;
  transform: translateY(-50%);
}

.rc-toast-container[data-vertical="bottom"] {
  bottom: var(--position-size);
}

/* Horizontal Positions */
.rc-toast-container[data-horizontal="left"] {
  left: var(--position-size);
}

.rc-toast-container[data-horizontal="center"] {
  left: 50%;
  transform: translateX(-50%);
}

.rc-toast-container[data-horizontal="right"] {
  right: var(--position-size);
}

/* Toast */
.rc-toast {
  background: var(--body-bg);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-bottom: 0.5rem; /* Add spacing between toasts */
  transform: translateY(-10px);
}

.rc-toast-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Toast Header */
.rc-toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--rc-bg-color-light);
  border-bottom: 1px solid var(--border-color);
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--toast-text-color);
}

.rc-toast[data-type="primary"] .rc-toast-header {
  background-color: var(--rc-bg-color-primary);
}
.rc-toast[data-type="secondary"] .rc-toast-header {
  background-color: var(--rc-bg-color-secondary);
}
.rc-toast[data-type="success"] .rc-toast-header {
  background-color: var(--rc-bg-color-success);
}
.rc-toast[data-type="danger"] .rc-toast-header {
  background-color: var(--rc-bg-color-danger);
}
.rc-toast[data-type="warning"] .rc-toast-header {
  background-color: var(--rc-bg-color-warning);
}
.rc-toast[data-type="info"] .rc-toast-header {
  background-color: var(--rc-bg-color-info);
}
.rc-toast[data-type="light"] .rc-toast-header {
  background-color: var(--rc-bg-color-light);
}
.rc-toast[data-type="dark"] .rc-toast-header {
  background-color: var(--rc-bg-color-dark);
}

.rc-toast-close {
  background: none;
  border: none;
  color: #6c757d;
  font-size: 1rem;
  cursor: pointer;
}

.rc-toast-body {
  padding: 1rem;
  color: var(--toast-text-color);
  font-size: 0.85rem;
}

.rc-toast-header .rc-toast-close:hover {
  color: #000;
}
