/vendor
*.code-workspace
/node_modules
/.phpunit.result.cache
/cov.xml
/.vscode/launch.json
/tests/test-module/psalm.xml
/tests/test-module/scan-test-temp*
/tests/test-module/scan-test-empty-temp*
/example_modules/module-development-examples_v1.0/empty-file.php
/example_modules/module-development-examples_v1.0/file-with-ignore-scan-issues.php
