body {
	background: #FFFFFF;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
	overflow: auto;
}
#pagecontainer {
    margin: 0 auto;
    max-height: 100%;
    padding: 5px 0 10px;
    text-align: left;
    max-width: 900px;
	background: #fff;
	border: 0;
}

#container{
	margin: 0 0 0 8px;
    padding: 5px 15px 0px 15px;
    text-align: left;
}
#footer {
    color: #707070;
    font-size: 11px;
    text-align:center;
    margin: 0;
    padding:15px 0 5px;
}
#footer a {
    color:#707070;text-decoration:none;font-weight:normal;font-size:11px;
}
#header {
    margin-left: 50px;
    margin-right: 37px;
    position: relative;
    text-align: left;
    width: 791px;
    z-index: 1;
}
#pagecontent {
    margin: 0px;
	margin-top: 70px;
}
#pagecontent table{
	clear: both;
}
.pid-cnt { color: #bbb; font-family: tahoma, arial; font-size: 10px; }
.p, p { max-width:1100px; }
#control_center_menu { line-height:1.5;max-width:270px;border:1px solid #ddd;background-color:#fafafa;color:#000;padding:5px; }
#redcap-home-navbar-collapse a:hover, #redcap-home-navbar-collapse li.active { background-color: #e7e7e7; }
#redcap-home-navbar-collapse li.nohighlighthover a:hover { background-color: transparent; }
@media screen and (min-width: 992px) and (max-width: 1080px) {
	.nav>li.loggedInUsername { display:none; }
}
.tab-content {
	border: 1px solid #ddd;
	border-radius: 0 3px 3px 3px;
	padding: 1rem;
}
.nav-tabs {
	border-bottom: none;
}
#control_center_menu .fas, #control_center_menu .far, #control_center_menu .fa { color: #22224c; text-indent: 0;position:relative; }
