:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: rgba(35, 35, 35, 0.87);
    background-color: #eaeaea;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --navbar-size: 3rem;
  }
  
  /* Reset some default styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .button-group,
  .position-demo {
    margin: 1rem 0;
  }
  
  button.btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  

  
  
  /* Main Content */

  
  #content-container {
    padding: 20px;
  }